<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form class="product-form" action="/admin/add-product method=Post">
            <div class="form control">
                <label form="tile">Title</label>
                <label type="text" name="imageUrl" id="imageUrl">

                </label>

            </div>
            <div class="form control">
                <label form="imageUrl">Image URL</label>
                <label type="text" name="imageUrl" id="imageUrl">

                </label>
                
            </div>
            <div class="form control">
                <label form="price">price</label>
                <label type="number" name="ptice" id="price" step="0.01">

                </label>
                
            </div>
            <div class="form control">
                <label form="description">Description</label>
                <textarea name="description" name="ptice" id="price" step="0.01">

                </label>
                
            </div>

        </form>
    </main>
    
</body>
</html>