<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="centerd">
        <h1>product.tile</h1>
        <hr>
        <div>
            <img src="product.imgageUrl" alt="product.tile">
        </div>
        <h2>product.price</h2>
        <p>product from description</p>
        <form action="/cart method=post">
            <button class="btn" type="submit">Add To Cart</button>
            <input type="hidden" name="productid" value="product.id">
        </form>
    </main>
    
</body>
</html>